Source: findutils
Section: base
Priority: required
Maintainer: Andreas Metzler <ametzler@debian.org>
Uploaders: Chuan-kai Lin <cklin@debian.org>
Build-Depends: texinfo, debhelper (>> 4.0.0), dpatch, autotools-dev, dejagnu
Standards-Version: 3.6.2

Package: findutils
Architecture: any
Essential: yes
Pre-Depends: ${shlibs:Depends}
Depends: ${misc:Depends}
Description: utilities for finding files--find, xargs, and locate
 These utilities find files meeting specified criteria and perform
 various actions on the files which are found.

